.policy-editor-container{
    background-color: #333333;
    text-align: center;
    text-align: left;
    padding: 50px;
    color:#F47820;
}
.btn-search{
    padding-left:130px;
    padding-right:130px;
    color: #fff;
    background-color: #F47820;
}
.form-label{
    width: 80%;
}
.search-input{
    height: 1px;
    padding: 0px;
}
.search-header{
    margin-bottom: 20px;
    color:#fff;
    text-align: center;
    
}